.about {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--primary-color);
  padding-top: 139px;
  background: linear-gradient(0deg, var(--secondary-background) 0%, var(--background) 100%);
}

.about .text {
  margin-top: 20px;
  padding: 0 10px;
}

.text:last-child{
    margin-bottom: 40px;
}

.about h1{
    text-align: center;
    margin: 15px 0;
}

@media (width <= 823px) {
    .about h2 {
        font-size: 24px;
    }

    .about h1 {
        font-size: 32px;
    }

    .about img{
        width: 250px;
    }

}