.home {
  padding-top: 130px;
  color: #1391f2;
  font-weight: 900;
  overflow-x: hidden;
  background-color: #10161a;
}

header,
section {
  position: relative;
  width: 100vw;
  min-height: 60vh;
  overflow: hidden;
  background-color: #10161a;
  padding: 20px 50px;
  text-align: center;
}

header {
  border-bottom: #1391f2 2px solid;
}

section {
  padding-bottom: 50px;
}

header img {
  margin: 30px 0;
  box-shadow: #f7df1e 0px 0px 10px 10px;
  border-radius: 15px;
}

header h1 span {
  color: #f7df1e;
  font-weight: 900;
  text-shadow: 5px 5px 0 #f7de1e48;
  margin-right: 5px;
  margin-bottom: 5px;
}

header button {
  margin-top: 50px;
  box-shadow: #1391f2 0px 0px 10px 10px;
}

@media (width <= 768px) {
   header h1{
    font-size: 26px;
    font-weight: 700;
}
}

@media (width < 480px) {
  button{
    width: 50%;
  }
}