.home {
  padding-top: 130px;
  color: var(--primary-color);
  font-weight: 900;
  overflow-x: hidden;
  background: transparent;
}

header {
  position: relative;
  width: 100vw;
  min-height: 82.8vh;
  overflow: hidden;
  padding: 20px 50px;
  text-align: center;
  overflow-y: hidden;
}

header img {
  margin: 30px 0;
  border-radius: 15px;
}

header button {
  margin-top: 50px;
  box-shadow: var(--secondary-background) 0px 0px 5px 5px;
  background-color: var(--secondary-background);
  color: var(--second-color);
  font-weight: bold;
  font-size: 20px;
}

p{
  color: var(--second-color);
  margin-top: 10px;
  opacity: .6;
}

@media (width <= 768px) {
  header h1 {
    font-size: 26px;
    font-weight: 700;
  }
  header{
    margin-bottom: 150px;
  }
}

@media (width < 480px) {
  button {
    width: 50%;
  }
}
