.classList {
  padding-top: 130px;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
}

h1,
h2 {
  color: var(--primary-color);
}

.modClass,
.modSelection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 70px;
  margin: 50px auto;
  padding: 0 20px;
}

.modClass a,
.driveLink,
.modSelection .mod {
  display: flex;
  padding: 15px 5px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 300px;
  color: var(--second-color);
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;

  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.35);

  transition: 0.5s;
}

.classList p {
  color: var(--second-color);
  margin-top: 10px;
  opacity: 0.6;
}

.modClass a:hover,
.modSelection .mod:hover {
  transform: scale(120%);
}

.modClass a:not(.unavailable),
.driveLink,
.mod {
  border: 2px solid var(--second-color);
}

.unavailable {
  border: 2px solid #f21818;
  color: #f21818;
}

.driveLink {
  margin: 25px auto;
}

@media (max-width: 768px) {
  .modClass a,
  .driveLink,
  .modSelection .mod {
    width: 100%;
  }

  .modClass a:hover,
  .modSelection .mod:hover {
    transform: scale(100%);
  }
}

.back{
  position: fixed;
  bottom: 00;
  right: 00;
  margin-right: 30px;
  margin-bottom: 60px;
  background-color: var(--second-color);
  font-size: 40px;
  text-decoration: none;
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transform: rotate(-90deg);
}

@media (max-width: 610px) {
  .modClass,
  .modSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (width < 540px) {
  .list {
    margin: 0;
  }
}
